<div class="row">
	<article class="article col-xs-12">
		<div class="top row">
			<div class="col-md-8">
				<a id="articleLink" class="articleLink nav-link text-light" href="#" target="blank_"><h1 id="articleTitle">Super Long Test String for Article Styling That Should Show Up on Two Lines at Least</h1></a>
			</div>
			<div class="col-md-4 buttons">
				{{#if home}}
					<button class="btn btn-save">Save Article</button>
				{{/if}}
				{{#if saved}}
					<button class="btn btn-details">Article Details</button>
					<button class="btn btn-delete">Delete Article</button>
				{{/if}}
			</div>
		</div>
		<div class="row">
			<div class="bottom col-xs-12">
				<a id="commentLink" class="bot-link" href="#" target="blank">### Comments</a>
				<a id="userLink" class="bot-link" href="#" target="blank">/username</a>
				<a id="subLink" class="bot-link" href="#" target="blank">/r/subreddit</a>
			</div>
		</div>
	</article>
</div>