<div class="row">
	<article class="article col-xs-12">
		<div class="top bg-primary row">
			<div class="col-md-8">
				<a id="articleLink" class="articleLink nav-link text-light" href="#" target="blank_"><h1 id="articleTitle">Test String for Article Styling</h1></a>
			</div>
			<div class="col-md-4 buttons">
				<button class="btn btn-save">Save Article</button>
				<button class="btn btn-details">Article Details</button>
				<button class="btn btn-delete">Delete Article</button>
			</div>
		</div>
		<div class="row">
			<div class="bottom col-xs-12">
				<a id="commentLink" class="bot-link" href="#" target="blank">### Comments</a>
				<a id="userLink" class="bot-link" href="#" target="blank">/username</a>
				<a id="subLink" class="bot-link" href="#" target="blank">/r/subreddit</a>
			</div>
		</div>
	</article>
</div>