<div class="container-fluid clear-fix">
  <div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
      <h1 class="display-3">Mongo Scrapper</h1>
      <p class="lead">Reddit Edition</p>
    </div>
  </div>
  {{> article }}
  {{> article }}
  {{> article }}
</div>