<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
      <h1 class="display-3">Saved Articles</h1>
      <p class="lead">Your Saved Articles</p>
    </div>
  </div>
  {{> article this}}
</div>