<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid text-light">
    <div class="container">
      <h1 class="display-3">Saved Articles</h1>
      <p class="lead">Your Saved Articles</p>
    </div>
  </div>
  <div id="articles">
    {{#each articles}} 
    		{{> saved}} 
    {{/each}}
  </div>
</div>

<script type="text/javascript" src="./assets/js/saved.js"></script>